body{
	background:#D2D2D2;
	margin:0;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
}
a:hover{
	text-decoration:underline;
}
a:visited{
	color:#2E43B8;
}
a{
	text-decoration:none;
	color:#000;
	font-weight:bold;
}
.container{
	margin:0 auto;
	width:900px;
	height:auto;
}
.logo img{
	width:900;
	height:200;
}
ul{
	list-style:none;
}
/*Ajustar menu(caixa) */
.menu{
	background:#00C;
	width:900px;
	height:35px;
	margin:-10 0 5 0;
	border-radius:10;
}
.menu li{
	display:inline;
	padding-left:0;
	margin:0;
}
/*Ajustar menu(texto)*/
.menu-top li a{
	width:50px;
	height:15px;
	padding-right:50px;
	padding-left:51px;
	text-align:center;
	color:#FFF;
	text-shadow:1px 1px #000000;
}
.menu ul li a:hover{
	background-color:#09F;
	padding-right:50px;
	padding-left:51;
	padding-top:8;
	padding-bottom:8;
	text-decoration:none;
	color:#FFF;
	text-shadow:1px 1px #000000;
	border-radius: 10px;
}
.main{
	width:900;
	height:auto;
	background-color:#FFF;
	box-shadow:0 0 1px 0 #333333;
}
.data-hora{
	background-color:#FFF;
	padding:15px 10px 15px 5px;
	margin:auto;
	font-family:"Arial Black", Gadget, sans-serif;
	border-bottom:5px solid #00C;
}
.newprincipal-centro{
	width:900;
	height:auto;
	background-color:#FFF;
	border-bottom:5px solid #00C;
}
.newprincipal-centro a{
	text-align:right;
	font-size:36px;
}
.newprincipal-centro img{
	width:300px;/*Ao colocar apenas o width definido força a altura da imagem se defina automaticamente em proporção ao tamanho original da imagem*/
	height:auto;
	float:left;
	padding-left:5px;
	padding-right:5px;
}
p{
	padding:10px 10px 10px 10px;
}
.corpo{
	font-size:16px;
}